<p>FORM VALIDITY: {{ reportForm.valid }}</p>

<button (click)="undo()">UNDO</button>
<button (click)="redo()">REDO</button>

<app-section
  *ngFor="let section of reportForm.value.sections"
  [title]="section.name"
>
  <app-title *ngFor="let title of section.titles" [name]="title.name">
    <app-title
      *ngFor="let subtitle of title.subtitles"
      [name]="subtitle.name"
      [isSubtitle]="true"
    ></app-title>
  </app-title>
</app-section>

<button (click)="submitForm()">Submit</button>

<br />

<button (click)="addSection()">Add Section</button>

<form [formGroup]="reportForm">
  <div formArrayName="sections" style="padding: 10px">
    <div
      *ngFor="let section of getSections().controls; let i = index"
      [formGroupName]="i"
      (click)="selectSection(i)"
    >
      <div
        style="
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        "
      >
        <div
          style="padding: 15px; margin: 15px; border: 1px solid gray"
          [ngStyle]="{
            'background-color': i == selectedSectionIndex ? 'gray' : ''
          }"
        >
          <br />
          <input formControlName="name" placeholder="Section Name" />
          <div formArrayName="titles">
            <div
              *ngFor="let title of getTitles(i).controls; let j = index"
              [formGroupName]="j"
            >
              <input formControlName="name" placeholder="Title Name" />
              <button (click)="addSubtitle(i, j)">Add Subtitle</button>
              <div formArrayName="subtitles">
                <div
                  *ngFor="
                    let subtitle of getSubtitles(i, j).controls;
                    let k = index
                  "
                  [formGroupName]="k"
                >
                  <input formControlName="name" placeholder="Subtitle Name" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="add-buttons" *ngIf="selectedSectionIndex === i">
          <button (click)="addTitle(selectedSectionIndex)">Add Title</button>
        </div>
      </div>
    </div>
  </div>
</form>
